<h3>Agregar Pendiente <mat-icon>add_circle_outline</mat-icon></h3>
<form (ngSubmit)="onSubmit()" #formPendiente="ngForm">
    <p>
        <mat-form-field>
            <input matInput name="titulo" [(ngModel)]="PendienteModel.titulo"
                type="text"
                placeholder="Titulo">
        </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <textarea
          matInput
          name="descripcion"
          [(ngModel)]="PendienteModel.descripcion"
          type="text"
          rows="4"
          maxlength="250"
          placeholder="Descripcion"
        >
        </textarea>
      </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="caducidad" [(ngModel)]="PendienteModel.caducidad"
                type="date"
                placeholder="Caducidad">
        </mat-form-field>
    </p>
    <p>
        <button type="submit" mat-flat-button color="accent">Guardar</button>
    </p>
</form>