<div class="container"><br/>

  <form novalidate
        #form="ngForm">
    <div class="form-group">
      <strong>Gender</strong>
      <select class="form-control"
              name="gender"
              [(ngModel)]="gender"
              (change)="country = ''">    <!-- Remove this if you want a continuous filter -->
        <option></option>      
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>  

    <div class="form-group">
      <strong>Country</strong>
      <select class="form-control"
              name="country"
              [(ngModel)]="country">
        <option></option>      
        <option *ngFor="let country of countries"
                [value]="country">{{ country }}</option>
      </select>
    </div>    

    <br/><br/>

    
    <table class="table table-bordered">
      <thead>
        <th>Name</th>
        <th>Gender</th>
        <th>Country</th>
      </thead>

      <tbody>
        <tr *ngFor="let user of users | tableFilter: form.value">
          <td>{{ user.name }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.country }}</td>
        </tr>
      </tbody>

    </table>

  </form>

</div>