<h2>Listado de pendientes</h2>
<table mat-table [dataSource]="pendientes" class="mat-elevation-z8" style="width:
    100%;">
    <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef>Titulo</th>
        <td mat-cell *matCellDef="let pendiente"> {{pendiente.titulo}} </td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let pendiente"> {{pendiente.descripcion}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let pendiente"> {{pendiente.fecha}} </td>
    </ng-container>
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let pendiente"> {{pendiente.estado}} </td>
    </ng-container>
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let pendiente">
            <a mat-icon-button [routerLink]="['/pendientes/editar', pendiente.id]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let pendiente">
            <button (click)="eliminarPendiente(pendiente)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['titulo', 'descripcion', 'fecha', 'estado', 'editar',
        'eliminar']"></tr>
    <tr mat-row *matRowDef="let fila; columns: ['titulo', 'descripcion', 'fecha', 'estado', 'editar',
    'eliminar'];"></tr>
</table>