<title>TO-DO</title>
<style>
  [_nghost-tqp-c23] {
    font-family: Open Sans, sans-serif;
    color: #121212
  }
</style>

<header class="header">
  <div
    class="
      container-fluid-limited
      d-flex
      align-items-center
      justify-content-between
    "
  >
    <p style="margin-top: -10; font-size: 1.5rem;">
      <img
        src="img/logo.png"
        data-light-src="img/logo.png"
        data-dark-src="img/logo.png"
        style="width: 32px; margin-right: 10px;"
      />
      TO-DO
    </p>
  </div>
</header>
