
  <head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="css/montserrat.css:400,700,800&amp;display=swap" rel="stylesheet">
  <link href="css/estilo.css" rel="stylesheet">
  <link href="css/preview.css" rel="stylesheet">
  <link href="css/css2.css" rel="stylesheet">
  <title>Manuel Hinojosa | Portafolio</title>
  <style>
    [_nghost-tqp-c23] {
      font-family: Open Sans, sans-serif;
      color: #121212
    }
  </style>
</head>


<header class="header">
<div class="container-fluid-limited d-flex align-items-center justify-content-between">
  <a href="out" class="header-brand">
    <p style="margin-top: -10; font-size: 1.5rem;"><img src="img/logo.png" data-light-src="img/logo.png" data-dark-src="img/logo.png" style="width: 32px; margin-right: 10px;">
      Bienvenid@ <? echo $usr ?>
      <span class="material-symbols-outlined" style="vertical-align: middle;">
        logout
      </span>
    </p>
  </a>
  <a href="resume" class="header-brand">
    <p style="margin-top: -10; font-size: 1.5rem;">
      <span class="material-symbols-outlined" style="vertical-align: middle;">
        language
      </span>
      EN
    </p>
  </a>
</div>
</header>