<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" #sidenav>
    <mat-toolbar color="primary">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Menú</h1>
    </mat-toolbar>
    <mat-list role="list">
      <a mat-list-item routerLink="/pendientes/agregar">
        <mat-icon color="accent">add_circle_outline</mat-icon>
        Agregar Pendiente
      </a>
      <a mat-list-item routerLink="/pendientes">
        <mat-icon color="primary">list</mat-icon>
        Listado de Pendientes
      </a>
      <a mat-list-item routerLink="/pendientes/reporte">
        <mat-icon color="primary">insert_drive_file</mat-icon>
        Reporte Pendientes
      </a>
      <a mat-list-item routerLink="/acerca-de">
        <mat-icon color="warn">info</mat-icon>
        Información
      </a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <mat-toolbar class="barra" color="primary">
        <mat-toolbar-row>
          <button (click)="sidenav.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
          <span> TO-DO &nbsp; </span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="mat-card-container">
        <mat-sidenav-content class="padding-10">
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
