<h1>Acerca de</h1>

<p>
  La presente es una app de desarrollo personal originada en PHP transformada
  para su uso en Node pero reutilizando el back original son su base de datos en
  Maria DB.
</p>

<h2>Guía rapida:</h2>

<h3>Navegación</h3>
<p>
  <mat-icon color="primary">menu</mat-icon>
  En la esquina superior derecha siempre podrás encontrar un acceso rapido al
  menú de la aplicación para poder moverte entre sus diferentes apartados dando
  clic en cualquiera de sus elementos. Una vez seleccionado el apartado al que
  querramos acceder basta con dar clic nuevamente en icono del menú para
  ocultarlo nuevamente
</p>

<h3>Agregar Pendiente</h3>
<p>
  <mat-icon color="accent">add_circle_outline</mat-icon>
  Dentro del menú encontraremos el apartado para agregar a la lista nuevos pendientes, para ello es necesario llenar el formulario con al menos un titulo y una breve descripción de la actividad a realizar, la caducidad o fecha limite podremos editarla posteriormente.
</p>

<h3>Listado de Pendientes</h3>
<p>
  <mat-icon color="primary">list</mat-icon>
  De igual forma que en el anterior apartado encontramos un modulo para visualizar en formato tabla los pendientes a gestionar en esta app, en este encntraremos la mayoría de la funciones aplicables para el presente manual.
</p>


<p>Dev. by Manusenshu</p>
