<h3>Editar Pendiente <mat-icon>check_circle_outline</mat-icon></h3>
<form (ngSubmit)="onSubmit()" #formPendiente="ngForm">
  <p>
    <mat-form-field>
      <input
        matInput
        name="titulo"
        type="text"
        placeholder="Titulo"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <textarea
        matInput
        name="descripcion"
        type="text"
        rows="4"
        maxlength="250"
        placeholder="Descripcion"
      >
      </textarea>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input
        matInput
        name="caducidad"
        type="date"
        placeholder="Caducidad"
      />
    </mat-form-field>
  </p>
  <p>
  <button (click)="volver()" type="button" mat-flat-button color="primary">
    Volver
  </button>
  &nbsp;
    <button type="submit" mat-flat-button color="accent" style="float: right;">Guardar</button>
  </p>
</form>
