<h3><mat-icon color="primary">insert_drive_file</mat-icon> Reporte Pendientes</h3>
<form (ngSubmit)="onSubmit()" #formPendiente="ngForm">
  <mat-form-field>
    <mat-label>Estado</mat-label>
    <select
      matNativeControl
      [(ngModel)]="FormularioReporte.estado"
      [ngModelOptions]="{ standalone: true }"
    >
      <option value="0" selected>Todos</option>
      <option value="587587587">Nuevo</option>
      <option value="588588588">En Proceso</option>
      <option value="589589589">Terminado</option>
    </select>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Tipo Fecha</mat-label>
    <select
      matNativeControl
      [(ngModel)]="FormularioReporte.tipoFecha"
      [ngModelOptions]="{ standalone: true }"
    >
      <option value="1" selected>Inicio</option>
      <option value="2">Caducidad</option>
      <option value="3">Termino</option>
    </select>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input
      matInput
      name="inicio"
      type="date"
      placeholder="Fecha del"
      required
      [(ngModel)]="FormularioReporte.fechaInicio"
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input
      matInput
      name="fin"
      type="date"
      placeholder="a la fecha"
      required
      [(ngModel)]="FormularioReporte.fechaFin"
      [ngModelOptions]="{ standalone: true }"
      value="{ Pendiente.titulo }"
    />
  </mat-form-field>
  &nbsp;
  <button type="submit" mat-flat-button color="accent" style="float: right;">
    Generar Reporte
  </button>
  <br />
  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="width:
  100%;"
  >
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef>Titulo</th>
      <td mat-cell *matCellDef="let Pendiente">{{ Pendiente.titulo }}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let Pendiente">{{ Pendiente.descripcion }}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let Pendiente">{{ Pendiente.fecha }}</td>
    </ng-container>
    <ng-container matColumnDef="caducidad">
      <th mat-header-cell *matHeaderCellDef>Caducidad</th>
      <td mat-cell *matCellDef="let Pendiente">{{ Pendiente.caducidad }}</td>
    </ng-container>
    <ng-container matColumnDef="cierre">
      <th mat-header-cell *matHeaderCellDef>Cierre</th>
      <td mat-cell *matCellDef="let Pendiente">{{ Pendiente.cierre }}</td>
    </ng-container>
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let Pendiente">{{ Pendiente.estado }}</td>
    </ng-container>

    <ng-container matColumnDef="tomar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let Pendiente">
        <button
          mat-icon-button
          [ngStyle]="{ color: getColor(Pendiente.estado) }"
        >
          <mat-icon>offline_pin</mat-icon>{{ Pendiente.estado }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">
        No se han encontrado resultados para la busqueda
      </td>
    </tr>
  </table>
</form>
