<h3>Reporte Pendientes <mat-icon>check_circle_outline</mat-icon></h3>
<form (ngSubmit)="onSubmit()" #formPendiente="ngForm">
  <mat-form-field>
    <mat-label>Estado</mat-label>
    <select matNativeControl>
      <option value="">Todos</option>
      <option value="587587587">Nuevo</option>
      <option value="588588588">En Proceso</option>
      <option value="589589589">Terminado</option>
    </select>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Tipo Fecha</mat-label>
    <select matNativeControl>
      <option value="1">Inicio</option>
      <option value="2">Caducidad</option>
      <option value="3">Termino</option>
    </select>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input matInput name="inicio" type="date" placeholder="Fecha del" />
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input matInput name="fin" type="date" placeholder="a la fecha" />
  </mat-form-field>
  &nbsp;
  <button type="submit" mat-flat-button color="accent" style="float: right;">
    Generar Reporte
  </button>
</form>
